/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #1c658c;
}

.container-fluid #content,#footer {
  padding: 0px;
}

#header {
  background-color: #eeeeee;
}

#navbar {
  background-color: #1c658c;
}

#nav1 li a {
  color: white;
  padding: 5px 10px;
}

#nav1 li a:hover {
  font-weight: bold;
  /* color: black;
  padding: 5px 10px;
  background-color: hsl(0, 0%, 93%);
  border-radius: 3px; */
}

/* #nav1 li {
  margin-right: 18px;
} */

#nav2 li a {
  background-color: #bb6464;
  border-radius: 8px;
  padding: 10px 15px 5px;
}

#nav2 li a:hover {
  background-color: #b94242;
  border-radius: 8px;
  padding: 10px 15px 5px;
}

#footer p {
  background-color: #1c658c;
  color: white;
  font-size: 12px;
  padding: 10px;
}

#form {
  margin: 20px 0px;
}

#notif {
  background-color: #1c658c;
  color: white;
  padding: 10px;
  margin: 20px 0px;
  border-radius: 3px;
}

#form label {
  padding-bottom: 5px;
}

#form input {
  font-size: 15px;
}

#form textarea {
  font-size: 15px;
}

#btn-register {
  background-color: #bb6464;
  color: white;
  font-size: 13px;
}

#btn-register:hover {
  background-color: #b94242;
  color: white;
}

@media (max-width: 576px) {
  #form {
    margin: 20px 20px;
  }
  #notif {
    margin: 20px 20px;
  }
}
